.title_im{
	height:500px;
}

h1{
    text-align:center;
}

h2{
	text-align:center;
}

p{
	margin-left:20px;
	margin-right:100px;
	text-align:center;
}

img {
    display: block;
    margin: 0 auto;
}

video {
    display: block;
    margin: 0 auto;
}

.container{
    display:block;
    margin: 50px auto;
    text-align:center;
}

.element{
    display: inline;
}


figcaption{
    margin: 10px
}